@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

.app-header{
  text-align: center;
  background-color: #ff7f00;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.header{
  font-family: 'Azeret Mono', monospace;
  font-size: 30px;
}
.translate-icon{
  font-size: 0.73em;
  padding-top: 15px;
}
.footer{
  background-color: #ff7f00;
  padding: 10px;
  text-align: center;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.app-body{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  text-align: center;
  align-items: center;
  border-radius: 10px;

}
Form{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.language-select{
  height: 40px !important;
  margin-bottom: 15px;
  outline: none !important;
}